@page
@model Library_System.Pages.Authors.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-page="Create">Create New</a>
</p>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.Author[0].AuthorName)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.Author[0].Bio)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.Author[0].DeleteAt)
			</th>
			<th class="text-center">
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Author)
		{
			<tr>
				<td class="text-center">
					@Html.DisplayFor(modelItem => item.AuthorName)
				</td>
				<td class="text-center">
					@Html.DisplayFor(modelItem => item.Bio)
				</td>
				<td class="text-center">
					@Html.DisplayFor(modelItem => item.DeleteAt)
				</td>
				<td class="text-center">
					<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
					<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
