@page
@model Library_System.Pages.BorrowDetails.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BorrowDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDetail.BorrowDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDetail.BorrowDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDetail.ReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDetail.ReturnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDetail.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDetail.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDetail.DeleteAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDetail.DeleteAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDetail.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDetail.Book.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDetail.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDetail.Account.UserId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BorrowDetail.BorrowId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
