@page
@model Library_System.Pages.BorrowDetails.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BorrowDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDetail.BorrowDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDetail.BorrowDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDetail.ReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDetail.ReturnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDetail.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDetail.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDetail.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDetail.Book.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDetail.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BorrowDetail.Account.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BorrowDetail?.BorrowId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
