@page
@model Library_System.Pages.BorrowDetails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].BorrowId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].Status)
            </th>
            
            
            
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].DeleteAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BorrowDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>


                <td>
                    @Html.DisplayFor(modelItem => item.DeleteAt)
                </td>
            <td>
                
                    <a asp-page="./Edit" asp-route-id="@item.BorrowId" >Edit</a> |
                    <form method="post" asp-page-handler="Extention">
                    <input type="hidden" value="@item.BookId" name="id" />
                    <button type="submit" class="btn-success">Extention</button>
                    </form>
                <a asp-page="./Delete" asp-route-id="@item.BorrowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
