@page
@using System.Security.Claims;
@model Library_System.Pages.BorrowDetails.IndexModel

@{
	ViewData["Title"] = "Index";
	var errorMessage = TempData["ErrorMessage"] as string;
	var successMessage = TempData["SuccessMessage"] as string;
}
@if (!string.IsNullOrEmpty(errorMessage))
{
	<script>
		var alertDiv = document.createElement("div");
		alertDiv.className = "alert alert-danger"; 

		var errorMessageSpan = document.createElement("span");
		errorMessageSpan.innerHTML = '@errorMessage';
		alertDiv.appendChild(errorMessageSpan);
		document.body.appendChild(alertDiv);
		errorMessage = "";
	</script>
}
else
{
	@if (!string.IsNullOrEmpty(successMessage))
	{
		<script>
			var alertDiv = document.createElement("div");
			alertDiv.className = "alert alert-success";

			var errorMessageSpan = document.createElement("span");
			errorMessageSpan.innerHTML = '@successMessage';
			alertDiv.appendChild(errorMessageSpan);
			document.body.appendChild(alertDiv);
		</script>
	}
	
}

<h1>Index</h1>

@if(User.Claims.SingleOrDefault(c => c.Type == "isAdmin")?.Value == "True")
{
<p>
	<a asp-page="Create">Create New</a>
</p>
}
<form method="post" asp-page-handler="Search">
	<span style="margin-right:40px">
		<label for="categoryId" style="font-weight:bold">Status</label>
		<select asp-for="status" class=" w-15 col-form-label" >
			<option value="All">All</option>
			<option value="Booked">Booked</option>
			<option value="Pending">Pending</option>
            <option value="Borrowed">Borrowed</option>
            <option value="OutOfDate">OutOfDate</option>
            <option value="Returned">Returned</option>
            <option value="Canceled">Canceled</option>
		</select>
	</span>
	<select asp-for="option" class="w-15 col-form-label" style="font-weight:bold">
		<option value="1">Account</option>
		<option value="2">Book</option>
	</select>
	<span style="margin-right:40px">
		<input asp-for="search" class=" col-form-label" style="width:250px" />
	</span>

	</span>
	<select asp-for="optionDate" class="w-15 col-form-label" style="font-weight:bold;margin-right:20px">
		<option value="1">BorrowDate</option>
		<option value="2">ReturnDate</option>
	</select>
	<span>
		<label  style="font-weight:bold">StartDate</label>
		<input asp-for="startDate" type="date" class=" col-form-label" style="width:120px;margin-right:20px" />

		<label style="font-weight:bold">EndDate</label>
		<input asp-for="endDate" type="date" class=" col-form-label" style="width:120px" />
		<button class="btn btn-primary" type="submit" style="height:100%;width:90px">Search</button>
	</span>

</form>
<table class="table table-bordered table-striped">
	<thead>
		<tr>

			<th class="text-center">
				@Html.DisplayNameFor(model => model.BorrowDetail[0].BorrowId)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.BorrowDetail[0].Account)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.BorrowDetail[0].Book)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.BorrowDetail[0].BorrowDate)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.BorrowDetail[0].ReturnDate)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.BorrowDetail[0].Status)
			</th>
			<th class="text-center">
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.BorrowDetail)
		{
			<tr data-edit="@item.BorrowId">
				<td class="text-center">
					@Html.DisplayFor(modelItem => item.BorrowId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Account.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Book.BookName)
				</td>
				<td class="text-center">
					@Html.DisplayFor(modelItem => item.BorrowDate)
				</td>
				<td class="text-center" data-returnDate="@item.BorrowId">
					@Html.DisplayFor(modelItem => item.ReturnDate)
				</td>

				@if (User.Claims.SingleOrDefault(c => c.Type == "isAdmin")?.Value == "True")
				{
					<td class="text-center">
						<form method="post" asp-page-handler="ChageStatus">
							<input type="hidden" asp-for="@item.BorrowId" name="id" />
							<select data-status="@item.BorrowId" class="text-center" name="status" onchange="changeStatus(this)" asp-for="@item.Status" asp-items="ViewBag.Status"></select>
						</form>
					</td>
					<td class="text-center">
						<input type="hidden" value="@item.Status" id="backupStatus">
						<a asp-page="./Edit"  asp-route-id="@item.BorrowId">Edit</a>
					</td>
				}
				else
				{
					<td class="text-center">
						@Html.DisplayFor(modelItem => item.Status)
					</td>
					<td class="text-center">
						<form method="post" asp-page-handler="Extention">
							<input type="hidden" value="@item.BorrowId" name="id" />
							<button type="submit" class="btn-success">Extend</button>
						</form>
					</td>
				}
			</tr>
		}
	</tbody>
</table>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script>

	var connection = new signalR.HubConnectionBuilder().withUrl("/signalrHub").build();

	connection.start().then(function () {
		console.log('SignalR Started...')
	}).catch(function (err) {
		return console.error(err.toString());
	});

	connection.on("LoadStatus", function (id, status) {
		const row = document.querySelector(`select[data-status="${id}"]`);
		if (row) {
			for (let option of row.options) {
				if (option.value == status) {
					option.selected = true;
				}
				else {
					option.selected = false;
				}
			}

		}
	});
	connection.on("LoadReturnDate", function (id, returnDate) {
		const row = document.querySelector(`td[data-returnDate="${id}"]`);
		if (row) {
			row.innerHTML = returnDate;
		}
	});

	connection.on("LoadEdit", function (id, account, book, borrowDate, returnDate, status) {
		const row = document.querySelector(`tr[data-edit="${id}"]`);

		if (row) {
			const newRowHtml = `
					<tr data-edit="${id}">
						<td>${id}</td>
						<td>${account}</td>
						<td>${book}</td>
						<td>${borrowDate}</td>
						<td>${returnDate}</td>
						<td>
							<form method="post" asp-page-handler="ChangeStatus">
								<input type="hidden" value="${id}" name="id" />
								<select data-status="${id}" name="status" onchange="changeStatus(this)">
									<option ${status === "Booked" ? "selected" : ""}>Booked</option>
									<option ${status === "Borrowed" ? "selected" : ""}>Borrowed</option>
									<option ${status === "OutOfDate" ? "selected" : ""}>OutOfDate</option>
									<option ${status === "Returned" ? "selected" : ""}>Returned</option>
									<option ${status === "Canceled" ? "selected" : ""}>Canceled</option>
								</select>
							</form>
						</td>
						<td>
								<a href="/BorrowDetails/Edit?id=${id}">Edit</a> |
							<form method="post" asp-page-handler="Extension">
								<input type="hidden" value="${id}" name="id" />
								<button type="submit" class="btn-success">Extend</button>
							</form>
						</td>
					</tr>
				`;

			row.innerHTML = newRowHtml;
		}
	});



</script>
<script>
	function changeStatus(element) {
		if (confirm("Are you sure change this status?")) {
			element.parentElement.submit();
		} else {
			element.value = document.getElementById("backupStatus").value;
		}
	}
</script>
