@page
@model Library_System.Pages.BorrowDetails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].BorrowId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].Status)
            </th>
            
            
            
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].DeleteAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BorrowDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td >
                    <form method="post" asp-page-handler="ChageStatus">
                        <input type="hidden" value="@item.BorrowId" name="id" />
                        <select data-status="@item.BorrowId" name="status" onchange="changeStatus(this)" asp-for="@item.Status" asp-items="ViewBag.Status" ></select>
                    </form>
            </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DeleteAt)
                </td>
            <td>
                    <input type="hidden" value="@item.Status" id="backupStatus">
                    <a asp-page="./Edit" asp-route-id="@item.BorrowId" >Edit</a> |
                    <form method="post" asp-page-handler="Extention">
                    <input type="hidden" value="@item.BookId" name="id" />
                    <button type="submit" class="btn-success">Extention</button>
                    </form>
                <a asp-page="./Delete" asp-route-id="@item.BorrowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script>

    var connection = new signalR.HubConnectionBuilder().withUrl("/employeeHub").build();

    connection.start().then(function () {
        console.log('SignalR Started...')
    }).catch(function (err) {
        return console.error(err.toString());
    });

    connection.on("LoadStatus", function (id,status) {
        const row = document.querySelector(`tr[data-status="${id}"]`);
        if (row) {
            row.textContent = status;
        }
    })

function changeStatus(element) {
    if (confirm("Are you sure change this status?")) {
        element.parentElement.submit();
    } else {
        element.value = document.getElementById("backupStatus").value;
    }
    }


</script>
