@page
@model Library_System.Pages.BorrowDetails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDetail[0].Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BorrowDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.UserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BorrowId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BorrowId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BorrowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
