@page
@model Library_System.Pages.Books.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-page="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.Book[0].IsbCode)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.Book[0].BookName)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.Book[0].UnitInStock)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.Book[0].Year)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.Book[0].Image)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.Book[0].Description)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.Book[0].Author)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.Book[0].Category)
			</th>
			<th class="text-center">
				@Html.DisplayNameFor(model => model.Book[0].Publisher)
			</th>
			<th class="text-center">
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Book)
		{
			<tr>
				<td class="text-center">
					@Html.DisplayFor(modelItem => item.IsbCode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BookName)
				</td>
				<td class="text-center">
					@Html.DisplayFor(modelItem => item.UnitInStock)
				</td>
				<td class="text-center">
					@Html.DisplayFor(modelItem => item.Year)
				</td>
				<td>
					<img class="w-200" src="@item.Image" height="200" width="auto">
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td class="text-center">
					@Html.DisplayFor(modelItem => item.Author.AuthorName)
				</td>
				<td class="text-center">
					@Html.DisplayFor(modelItem => item.Category.CategoryName)
				</td>
				<td class="text-center">
					@Html.DisplayFor(modelItem => item.Publisher.PublisherName)
				</td>
				<td width="180">
					<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
					<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
